:root {
  --sdkb-bg-color: #000000;

  --sdkb-key-bg: #0c0f0c;
  --sdkb-key-bg-hover: #131613;
  --sdkb-key-bg-pressed: #1a1e1a;

  --sdkb-key-border-color: #1b1f1b;
  --sdkb-key-border-color-active: #242924;

  --sdkb-key-text-color: #00ff66;
  --sdkb-key-text-secondary: #33aa66;

  --sdkb-accent: #00ff66;
  --sdkb-accent-text: #000;

  --sdkb-key-radius: 6px;
  --sdkb-key-radius-special: 8px;
}